.container__services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: 2rem;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
	.container__services {
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
	.container__services {
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
}
