.container.container__team {
	width: 100%;
	padding-bottom: 4rem;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
	.container__team {
		width: var(--container-width-ml);
	}
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
	.container.container__team {
		width: var(--container-width-md);
	}
}
